<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>{% block title %}{{ SITE_NAME }}{% endblock %}</title>
{% block style %}{% endblock %}
</head>
<body {% block bodyattr %}{% endblock %}>
  <p><a href="{% url 'lawbreakers-frontpage' %}">{{ SITE_NAME }}</a>
    | <a href="{% url 'lawbreakers-new-lawbreaker' %}">{% blocktrans %}Add new{% endblocktrans %}</a>
  </p>
<div id="container">
  <div id="content">
    {% block content %}
      <p>Content not defined in template</p>
    {% endblock content %}
  </div>
  <div style="clear:both;">&nbsp;</div>
  <div id="spacer"> </div>
  <div id="footer">
    <p>
      {% blocktrans %}&copy; 2019 Cash is king (GPLv2+ <a href=" https://gitlab.com/petterreinholdtsen/sentralbankbrudd/">source</a>){% endblocktrans %}
    | <a href="{% url 'lawbreakers-api-root' %}">API</a>
    </p>
  </div>

</body>
