{% extends "base_generic.html" %}

{% block style %}
<script src="{% static 'OpenLayers.min.js' %}"></script>
{% endblock %}
{% block bodyattr %}
{% endblock %}
{% block content %}
<h1>{% blocktrans %}Add new law breaker{% endblocktrans %}</h1>
<form action="" method="post">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="Submit" />
</form>
{% endblock %}
